<% if logged_in? %>
<div id="admin_wrapper">
<div class="section vertical">

    <ul class="tabs">
        <li href="/products/list" class="current">Товары</li>
        <li href="/attributes/list" >Шаблоны атрибутов</li>
        <li href="/categories/show">Категории</li>
    </ul>

    <div class="box visible">

    </div>

    <div class="box">
    </div>

    <div class="box">

    </div>


</div>
</div>
<div id ="editContainer" hidden>
  <div id="Container"></div>
<input id="Save" name="commit" type="submit" value="Сохранить">
<input id="Close" name="commit" type="submit" value="Закрыть">  
</div>

<%= javascript_include_tag "admin", "data-turbolinks-track" => true %>

<% end %>
