<div id="admin_wrapper">
<div class="section vertical">

    <ul class="tabs">
        <li class="current">Products</li>
        <li>Attributes</li>
        <li href="/categories/show">Categories</li>
        <li>Users</li>
    </ul>

    <div class="box visible">
        <input id="addProdcut" name="commit" type="submit" value="Add">

    </div>

    <div class="box">
        <input id="addAttr" name="commit" type="submit" value="Add">
    </div>

    <div class="box">

    </div>

    <div class="box">
        <p><br><br><br><br></p>
    </div>

</div>
</div>
<div id ="editContainer"></div>

<%= javascript_include_tag "admin", "data-turbolinks-track" => true %>


