<div id="admin_wrapper">
<div class="section vertical">

    <ul class="tabs">
        <li class="current">Products</li>
        <li>Attributes</li>
        <li>Categories</li>
        <li>Users</li>
    </ul>

    <div class="box visible">
        <input id="addProdcut" name="commit" type="submit" value="Add">
    </div>

    <div class="box">
        <p><br><br><br><br></p>
    </div>

    <div class="box">
        <p><br><br><br><br></p>
    </div>

    <div class="box">
        <p><br><br><br><br></p>
    </div>

</div>
</div>
<div id ="editContainer"></div>

<script>
    (function($) {
        $(function() {

          $('ul.tabs').on('click', 'li:not(.current)', function() {
               $(this).addClass('current').siblings().removeClass('current')
               .parents('div.section').find('div.box').eq($(this).index()).fadeIn(150).siblings('div.box').hide();
              
          })
          
        })
    })(jQuery)

</script>
