<div id="admin_wrapper">
<div class="section vertical">

    <ul class="tabs">
        <li href="/products/list" class="current">Products</li>
        <li href="/attributes/list" >Attributes</li>
        <li href="/categories/show">Categories</li>
        <li>Users</li>
    </ul>

    <div class="box visible">

    </div>

    <div class="box">
    </div>

    <div class="box">

    </div>

    <div class="box">
        <p><br><br><br><br></p>
    </div>

</div>
</div>
<div id ="editContainer" hidden>
  <div id="Container"></div>
<input id="Save" name="commit" type="submit" value="Save">
<input id="Close" name="commit" type="submit" value="Close">  
</div>

<%= javascript_include_tag "admin", "data-turbolinks-track" => true %>


