<%= raw @path.gsub('/','&raquo;') %>
    <% if @children.respond_to?(:each) %>

           <span class="sc">
        <% @children.each do |k,v|  %>
               <span>
               <label id=<%= k['id'] %> class="ccl" onclick='listProducts(this);' ><%= k['name'] %> </label>
                </span>
        <% end %>
            </span>
    <% end %>
