<p counter="_cnt_">\
<input  type="text" name="param[_gnum_][_cnt_][name]" value="" />\
<select name="param[_gnum_][_cnt_][type]">\
<% @attribute_types.each do |t| %>
<option><%= t %></option>\
<% end %>
</select> \
<a href="javascript:void(0)" onclick="remEl(this)">Remove</a>\
</p>\
