<span><div class="attribute_group" counter=_cnt_>\
  <div class="gr">\
      <label>Group name:</label>\
      <p>\
          <input type="text" name="group[_cnt_][name]" value="" />\
          <a href="javascript:void(0)" onclick="remGroup(this)">Remove Group</a>\
      </p> \
  </div>\
  <div counter=0>\
      <label>Attributes:</label>\
      <div class="al"></div>\
      <input type="submit" id="_id_" class="addAttribute" value="Add">\
</div>\
</span>\
