<span><div class="attribute_group" counter=_cnt_>\
  <input class="order" type="text" name="group[_cnt_][order]" value="_ord_" />\
  <input type="text" name="group[_cnt_][name]" value="" />\
  <a href="#" id="remGroup">Remove Group</a>\
<div counter=0>\
  <br>\
  <div class="al">\
  </div>\
  <input type="submit" id="addAttribute" value="Add"></span>\
</div>\
