<script type="text/javascript">
$(document).ready(function() {
    $(function () {

        $("#tree").click(function () {
	  if ( $("#tree").jstree("get_selected").attr("blocked" )){
		$("#delNode").attr('disabled', 'disabled');		
	  }else{
		$("#delNode").removeAttr('disabled');
	  }
        });

        $("#addCNode").click(function () {
                $("#tree").jstree("create",null,false,{ attr: { is_new : "true" }, data: "Some other child node" });
        });

        $("#addPNode").click(function () {
                $("#tree").jstree("create",-1,"first",{ attr: { is_new : "true" }, data: "Some other 1-st level node" });
        });

        $("#renNode").click(function () {
                $("#tree").jstree("rename");
        });

        $("#delNode").click(function () {
              //  $("#tree").jstree("remove");

	   //$("#tree").jstree("get_selected").style.display="none";
	   $("#tree").jstree("get_selected").hide();
	   $("#tree").jstree("get_selected").attr("is_deleted","true");
        });

        $("#saveTree").click(function () {
		
              list=$("#tree").jstree("get_json",-1,["is_new","is_deleted","cid"]);
		alert(JSON.stringify(list));
	 	
        });

        $("#tree").jstree({
                "dnd" : {
                        "drop_finish" : function () {
                                alert("DROP");
                        },
                        "drag_check" : function (data) {
                                if(data.r.attr("id") == "phtml_1") {
                                        return false;
                                }
                                return {
                                        after : false,
                                        before : false,
                                        inside : true
                                };
                        },
                        "drag_finish" : function (data) {
                                alert("DRAG OK");
                        }
                },
		"ui" : {
			"select_limit" : 1,
			"initially_select" : [ "asda" ]
		},
                "plugins" : [ "themes", "html_data", "ui", "crrm","dnd","json_data" ]
        });


    });
});
</script>
<body>


<div>
<input type="button" class="button" value="Add Node" id="addPNode">
<input type="button" class="button" value="Add Child Node" id="addCNode">
<input type="button" class="button" value="Rename" id="renNode">
<input type="button" class="button" value="Delete" id="delNode" disabled="">
<input type="button" class="button" value="Save" id="saveTree">

</div>
<div id="tree" >
<ul>
   <li cid="cid1" is_new="true" class="jstree-open jstree-last" style="">
      <ins class="jstree-icon">&nbsp;</ins><a href="#" class="jstree-clicked"><ins class="jstree-icon">&nbsp;</ins>Some other 1-st level node</a>
      <ul>
         <li cid="cid2" is_new="true" class="jstree-leaf" style=""><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Some other child node</a></li>
         <li cid="cid3" is_new="true" class="jstree-leaf jstree-last" style=""><ins class="jstree-icon">&nbsp;</ins><a href="#" class=""><ins class="jstree-icon">&nbsp;</ins>Some other child node</a></li>
      </ul>
   </li>
</ul>
</div>

</body>
</html>

