<script type="text/javascript">
$(document).ready(function() {
    $(function () {

        $("#tree").click(function () {
	  if ( $("#tree").jstree("get_selected").attr("blocked" )){
		$("#delNode").attr('disabled', 'disabled');		
	  }else{
		$("#delNode").removeAttr('disabled');
	  }
        });

        $("#addCNode").click(function () {
                $("#tree").jstree("create",null,false,{ attr: { rel : "folder" }, data: "Some other child node" });
        });

        $("#addPNode").click(function () {
                $("#tree").jstree("create",-1,"first","Enter a new name");
        });

        $("#renNode").click(function () {
                $("#tree").jstree("rename");
        });

        $("#delNode").click(function () {
                $("#tree").jstree("remove");
        });
        $("#tree").jstree({
                "dnd" : {
                        "drop_finish" : function () {
                                alert("DROP");
                        },
                        "drag_check" : function (data) {
                                if(data.r.attr("id") == "phtml_1") {
                                        return false;
                                }
                                return {
                                        after : false,
                                        before : false,
                                        inside : true
                                };
                        },
                        "drag_finish" : function (data) {
                                alert("DRAG OK");
                        }
                },
		"ui" : {
			"select_limit" : 1,
			"initially_select" : [ "asda" ]
		},
                "plugins" : [ "themes", "html_data", "ui", "crrm","dnd" ]
        });


    });
});
</script>
<body>


<div>
<input type="button" class="button" value="Add Node" id="addPNode">
<input type="button" class="button" value="Add Child Node" id="addCNode">
<input type="button" class="button" value="Rename" id="renNode">
<input type="button" class="button" value="Delete" id="delNode" disabled="">

</div>
<div id="tree" >
<ul>
<li class="jstree-open" blocked="1"  style=""><ins class="jstree-icon">&nbsp;</ins>
<a href="#" class="jstree-clicked"><ins class="jstree-icon">&nbsp;</ins>Enter a new name</a><ul>
</ul>
</div>

</body>
</html>

