<body>
 <%= csrf_meta_tag %>
<div id="cont">

    <div>
    <input type="button" class="button" value="Add Node" id="addPNode">
    <input type="button" class="button" value="Add Child Node" id="addCNode">
    <input type="button" class="button" value="Rename" id="renNode">
    <input type="button" class="button" value="Delete" id="delNode" disabled="">
    <input type="button" class="button" value="Save" id="saveTree">

    </div>
    <div id="tree" >
    </div>
</div>
<div id="json">
</div>

<script type="text/javascript">
</script>
</body>
