</*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require lightbox
 *= require_tree .
 */

body, td {
font-family: Sans-Serif;
}

div.even {
background-color: #FFFFFF;
border-radius: 5px;
padding: 10px;
margin: 5px;
}

div.odd {
background-color: #FFFFFF;
border-radius: 5px;
padding: 10px;
margin: 5px;
}

#hidden {
 display: none;
}

div.image 
{
 padding: 5px;
 position: relative;
 overflow: hidden;
 width: 280px;
}

div.del_icon {
 position: absolute;
 top: 4px;
 right: 4px;
 width: 32px;
 height: 32px;
 cursor: pointer;
 background-image: url(/assets/del_icon.png) ;
}

div.del_icon_s {
border: 1px;
top: 4px;
right: 4px;
width: 16px;
height: 16px;
cursor: pointer;
background-image: url(/assets/del_icon.png);
float: left;
margin-right: 10px;
}

div.zoom_icon {
 position: absolute;
 top: 45px;
 right: 4px;
 width: 32px;
 height: 32px;
 cursor: pointer;
 background-image: url(/assets/zoom_icon.png) ;
}


.section {
    width: 400px;
    background: #EFEFEF;
    margin: 0 0 30px;
}
ul.tabs {
    height: 28px;
    line-height: 25px;
    list-style: none;
    border-bottom: 1px solid #DDD;
    background: #FFF;
}
.tabs li {
    float: left;
    display: inline;
    margin: 0 1px -1px 0;
    padding: 0 13px 1px;
    color: #777;
    cursor: pointer;
    background: #F9F9F9;
    border: 1px solid #E4E4E4;
    border-bottom: 1px solid #F9F9F9;
    position: relative;
}
.htabs li:hover,
.vertical .tabs li:hover {
    color: #F70;
    padding: 0 13px;
    background: #FFFFDF;
    border: 1px solid #FFCA95;
}
.htabs li.current {
    color: #444;
    background: #EFEFEF;
    padding: 0 13px 2px;
    border: 1px solid #D4D4D4;
    border-bottom: 1px solid #EFEFEF;
}
.box {
    display: none;
    border: 1px solid #D4D4D4;
    background: #FFF;
    padding:  12px;
}
.box.visible {
    display: block;
}


.section.vertical {
    width: 440px;
    border-left: 160px solid #FFF;
}
.vertical .tabs {
    width: 160px;
    float: left;
    display: inline;
    margin: 0 0 0 -160px;
}
.horisontal .tabs li {
    float: left;
    display: inline;  
}
.vertical .tabs li {
    padding: 0 13px;
    margin: 0 0 1px;
    border: 1px solid #E4E4E4;
    border-right: 1px solid #F9F9F9;
    width: 132px;
    height: 25px;
}
.vertical .tabs li:hover {
    width: 131px;
}
.vertical .tabs li.current {
    width: 133px;
    color: #444;
    background: #EFEFEF;
    border: 1px solid #D4D4D4;
  border-right: 1px solid #EFEFEF;
  margin-right: -1px;
}
.vertical .box {
  border-width: 1px;
  height: 600px;
}

.vertical ul.tabs {
list-style: none;
border: none;
padding-left: 0px;
}

#cont {
  border: 1px solid #D4D4D4;
  padding: 5px;
  width: 400px;
}

#admin_wrapper {
  border: 1px solid #D4D4D4;
  padding: 5px;
  width: 600px;
}
label {
      display: block;  
      position: relative; 
}


.hsection {
    width: 400px;
    background: #EFEFEF;
    margin: 0 0 30px;
}

ul.htabs {
height: 0px;
line-height: 25px;
list-style: none;
border-bottom: 1px solid #DDD;
background: #FFF;
padding-left: 0px;
margin-bottom: 28px;
}

.htabs li {
    float: left;
    display: inline;
    margin: 0 1px -1px 0;
    padding: 0 13px 1px;
    color: #777;
    cursor: pointer;
    background: #F9F9F9;
    border: 1px solid #E4E4E4;
    border-bottom: 1px solid #F9F9F9;
    position: relative;
}


#admin_wrapper {
border: 1px solid #D4D4D4;
padding: 5px;
width: 600px;
float: left;
}

#editContainer{
margin-left: 620px;  
width: 400px;
border: 1px #DBDBDB solid;
border-radius: 4px;
padding: 5px;
  
}

input[type="text"].order {
    width: 25px;
}

p{

background-color: #F1F0F0;
margin: 3px;
padding: 1px;
padding-left: 5px;
border: 1px #DBDBDB solid;
border-radius: 4px;
}

div.attribute_group {
border: 1px #DBDBDB solid;
background-color: #FFFFFF;
border-radius: 5px;
padding: 10px;
margin: 5px;


}

p.set_name {
    padding-top:20px;
    background: #fff; 
    border: none;
}

ul.list-results {
list-style: none;
margin: 0;
width: 380px;
min-height: 60px;
padding: 4px;
}

ul.list-results .image img {
height: 50px;
width: 50px;
}

ul.list-results .image {
width: 50px;
height: 50px;
border: 1px solid #aaa;
border-radius: 3px;
background-color: #f6f6f6;
padding: 2px;
position: relative;
float: left;
margin-right: 10px;
}
ul.list-results .name {
display: inline-block;
font-size: 20px;
max-width: 300px;
padding-bottom: 5px;
white-space: nowrap;
cursor: pointer;

}

ul.list-results li {
color: #000;
margin: 3px;
background-color: #F3F3F3;
border-radius: 5px;
border: 1px solid #E4E4E4;
height: 55px;
padding: 5px;
}
ul.list-results li.active > small {
color: #000;
}
ul.list-results li > small {
display: block;
font-size: 11px;
color: #555;
line-height: 12px;
}
div.delProduct {
float: right;

 cursor: pointer;
 background-image: url(/assets/del_icon.png) ;
 height: 32px;
 width: 32px;   
}

ul.attribute li {
height: 32px;
}

ul.attribute .name {
margin-top: 5px;
margin-left: 10px;
}

div.delAttribute {

 float: right;
 cursor: pointer;
 background-image: url(/assets/del_icon.png) ;
 height: 32px;
 width: 32px;

}
.editProduct {
cursor: pointer;
}

div.pbAttrContainer {
float: left;
margin-right: 10px;
width: 150;
border-radius: 4px;
padding: 5px;
}
div.pbAttrContainer div.attr {
display: inline-block;
width: 100px;
float: left;
background: url(/assets/dot.gif) repeat-x 100% .9em;
}
div.pAttrContainer {
float: left;
margin-right: 10px;
width: 450;
border-radius: 4px;
padding: 5px;
}
div.pAttrContainer div.attr {
display: inline-block;
width: 200px;
float: left;
background: url(/assets/dot.gif) repeat-x 100% .9em;
}
div.sImg {

display: inline-block;

}

div.sImg img {

border: 1px #DBDBDB solid;
border-radius: 4px;
padding: 5px;
}

div#Categories {
border: 1px #DBDBDB solid;
border-radius: 4px;
width: 305px;
float: left;
margin-right: 7px;
} 
div#cContainer {

margin: 8px;
float: left;
width: 305px;
} 

span.sc {
border: 1px #DBDBDB solid;
border-radius: 4px;
display: inline-block;
padding: 10px;
}

label.ccl {
margin-right:10px;
}

span.sc {
margin: 3px;
width: 278;
}

span.sc span
{
display: table-cell;
}

span.sc span label {

text-decoration: underline;
}

span.sc span label:hover {

color: blue;
}


span.sc .pc {

display: inline-block;
font-size: larger;
font-weight: bold;
cursor: pointer;

}

span.sc .cc {

float: left;
padding-right: 5px;
cursor: pointer;

}

div.pc {
padding: 5px;
} 

div.pc span {
display: inline-block;
}

span.pc {
border: 1px #DBDBDB solid;
border-radius: 4px;
width: 300px;
margin: 3px;
padding: 3px;
}
span.pc img {
border: 1px #DBDBDB solid;
border-radius: 4px;
padding: 2px;
height: 70px;
width: 70px;
float: left;
margin-right:10px;
}

span.pc .name {
text-decoration: underline;
text-decoration: underline;
font-size: larger;
color: blue;
}

span.pc .name:hover {
color: black;
}

span.pc .price {
font-size: medium;
font-weight: bold;

}

#pDetails {
margin-left: 70px;
margin-top: 70px;
border: 3px #DBDBDB solid;
border-radius: 4px;
float: left;
padding: 3px;
width: 432px;
position: absolute;
background: white;
}

#pDetails h2 {
margin-left:7px;
}

div.wrapper {
float: left;
width: 323px;
border: 2px #DBDBDB solid;
border-radius: 4px;
max-height: 800px;
overflow-y: auto;
overflow-x: hidden;
}

.pImageContainer {

}

#categories {
padding: 5px;
}

span#cb {
cursor: pointer;
float: right;
padding-right: 5px;
font-weight: bold;
}

