/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require lightbox
 *= require_tree .
 */
div.even
{
  background-color: #D3D3D3;
  border-color: #000000;
}
div.odd
{
  background-color: #D3D3D3;
}

#hidden {
 display: none;
}

div.image 
{
 padding: 5px;
 position: relative;
 overflow: hidden;
 width: 280px;
}

div.del_icon {
 position: absolute;
 top: 4px;
 right: 4px;
 width: 32px;
 height: 32px;
 cursor: pointer;
 background-image: url(/assets/del_icon.png) ;
}

div.del_icon_s {
border: 1px;
top: 4px;
right: 4px;
width: 16px;
height: 16px;
cursor: pointer;
background-image: url(/assets/del_icon.png);
float: left;
margin-right: 10px;
}

div.zoom_icon {
 position: absolute;
 top: 45px;
 right: 4px;
 width: 32px;
 height: 32px;
 cursor: pointer;
 background-image: url(/assets/zoom_icon.png) ;
}


.section {
    width: 400px;
    background: #EFEFEF;
    margin: 0 0 30px;
}
ul.tabs {
    height: 28px;
    line-height: 25px;
    list-style: none;
    border-bottom: 1px solid #DDD;
    background: #FFF;
}
.tabs li {
    float: left;
    display: inline;
    margin: 0 1px -1px 0;
    padding: 0 13px 1px;
    color: #777;
    cursor: pointer;
    background: #F9F9F9;
    border: 1px solid #E4E4E4;
    border-bottom: 1px solid #F9F9F9;
    position: relative;
}
.tabs li:hover,
.vertical .tabs li:hover {
    color: #F70;
    padding: 0 13px;
    background: #FFFFDF;
    border: 1px solid #FFCA95;
}
.tabs li.current {
    color: #444;
    background: #EFEFEF;
    padding: 0 13px 2px;
    border: 1px solid #D4D4D4;
    border-bottom: 1px solid #EFEFEF;
}
.box {
    display: none;
    border: 1px solid #D4D4D4;
  border-width: 0 1px 1px;
    background: #FFF;
    padding: 0 12px;
}
.box.visible {
    display: block;
}


.section.vertical {
    width: 440px;
    border-left: 160px solid #FFF;
}
.vertical .tabs {
    width: 160px;
    float: left;
    display: inline;
    margin: 0 0 0 -160px;
}
.horisontal .tabs li {
    float: left;
    display: inline;  
}
.vertical .tabs li {
    padding: 0 13px;
    margin: 0 0 1px;
    border: 1px solid #E4E4E4;
    border-right: 1px solid #F9F9F9;
    width: 132px;
    height: 25px;
}
.vertical .tabs li:hover {
    width: 131px;
}
.vertical .tabs li.current {
    width: 133px;
    color: #444;
    background: #EFEFEF;
    border: 1px solid #D4D4D4;
  border-right: 1px solid #EFEFEF;
  margin-right: -1px;
}
.vertical .box {
  border-width: 1px;
  height: 600px;
}

.vertical ul.tabs {
list-style: none;
border: none;
padding-left: 0px;
}

#cont {
  border: 1px solid #D4D4D4;
  padding: 5px;
  width: 400px;
}

#admin_wrapper {
  border: 1px solid #D4D4D4;
  padding: 5px;
  width: 600px;
}
label {
      display: block;  
      position: relative; 
}


.hsection {
    width: 400px;
    background: #EFEFEF;
    margin: 0 0 30px;
}
ul.htabs {
    height: 28px;
    line-height: 25px;
    list-style: none;
    border-bottom: 1px solid #DDD;
    background: #FFF;
}
.htabs li {
    float: left;
    display: inline;
    margin: 0 1px -1px 0;
    padding: 0 13px 1px;
    color: #777;
    cursor: pointer;
    background: #F9F9F9;
    border: 1px solid #E4E4E4;
    border-bottom: 1px solid #F9F9F9;
    position: relative;
}
.htabs li:hover,
}
.htabs li.curr {
    color: #444;
    background: #EFEFEF;
    padding: 0 13px 2px;
    border: 1px solid #D4D4D4;
    border-bottom: 1px solid #EFEFEF;
}

#admin_wrapper {
border: 1px solid #D4D4D4;
padding: 5px;
width: 600px;
float: left;
}

#editContainer{
margin-left: 620px;  
  
}
