<div id="baseSetTab">
<label>Артикул:</label> <input type="text" name="product[sku]" value=""><br>
<label>Название:</label><input type="text" name="product[name]" value="<%= @name %>" /><input type="hidden" name="attr_set_id" value="" /><BR>
<label>Цена:</label> <input type="text" name="product[price]" value=""><br>
</div>
