<div id="baseSetTab">
<label>Артикул:</label> <input required  minlength="2"  type="text"  name="product[sku]" value="<%= @sku %>"><br>
<label>Название:</label><input required minlength="2"  type="text" name="product[name]" value="<%= @name %>" /><input type="hidden" name="attr_set_id" value="" /><BR>
<label>Цена:</label> <input required  minlength="2"  type="text" name="product[price]" value="<%= @price %>"><br>
</div>
