<div id="base_set">
Name:<input type="text" name="name" value="<%= @name %>" /><input type="hidden" name="attr_set_id" value="" /><BR>
SKU: <input type="text" name="sku" value=""><br>
Price: <input type="text" name="price" value=""><br>
</div>
