<p>\
<input type="text" name="param[_cnt_][order]" value="_ord_" />\
<select name="param[_cnt_][category]">\
<% @categories.each do |t| %>
<option><%= t %></option>\
<% end %>
</select> \
<a href="#" id="remElemet">Remove</a>\
</p>