<%= javascript_tag do %>
$(function() {
  
      $(document).on('click','#addSet', function() {
        var hash=$.post("/attribute_set/a9b57479756275293b250000/json",{sid:"sid"},
          function( data ) { 
            $.each(data,function(a,v) {
              
            });  
          
          },"json") ;        
          return false;
        });
        
        
        
});
<% end %>

<%= form_for :attr, url: {action: "save", id: @group_id } do |f| %>
  <input type="text" name="name" value="<%= @name %>" /><input type="hidden" name="attr_set_id" value="" />
  <BR>
  <select name="param[attribute_set]">
    <option set_id="a9b57479756275293b250000">asda</option>
  </select>
  <%= f.submit "Add",id:"addSet" %>
  <div id="set">
  </div>

<% end %>

