<%= javascript_tag do %>
$(function() {

        var i = $('#p_attributes p').length + 1;
    
        $(document).on('click','#addAttribute', function() {
          var str = '<%= render 'attribute_fields' %>';
          str=str.replace(/_cnt_/g,i,'N');
          str=str.replace(/_ord_/g,i*10,'N');
          $(str).appendTo('#p_attributes');
                i++;
                return false;
        });
        
        $(document).on('click','#remElemet', function() { 
                $(this).parents('p').remove();
                return false;
        });
});
<% end %>


<%= form_for :attr, url: {action: "create"} do |f| %>

<h2><a href="#" id="addAttribute">Add attribute</a></h2>
<div id="p_attributes">
</div>
 <%= f.submit "create" %>
<% end %>


